@font-face {
    font-family: "Nasalisation";
    src: url("../fonts/NasalizationRg.otf");
}

:root{
    --primary-color: #ffffff;
    --primary-bg-color: #0f0f0f;
    --h1-font-size: calc((1vh + 1vw) * 2)
}

*{
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

.loading-screen{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: remove-loading-screen 13s;
    animation-iteration-count: 1;
}

.loading-text{
    font-family: "Nasalisation", monospace;
    font-size: var(--h1-font-size);
    animation: loading-screen-anim 7s ease-out;
    animation-iteration-count: 1;
}

.loading-screen-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.loading-screen-logo img{
    width: 17vw;
    animation: load-logos 9.5s ease-in;
    animation-iteration-count: 1;
}

.ssc-logo{
    width: 15vw;
}

@keyframes loading-screen-anim {
    1%, 40%{
        opacity: 0;
        transform: translateY(-25vh);
    }
    55%{
        opacity: 1;
        transform: translateY(-25vh);
    }
    80%{
        opacity: 1;
        transform: translateY(-25vh);
    }
    100%{
        opacity: 1;
    }

}

@keyframes load-logos {
    1%, 70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* @keyframes remove-loading-screen {
    0%, 90%{
        opacity: 1;
        display: flex;
    }
    100%{
        opacity: 0;
        display: none;
    }
} */