@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

[data-theme="night"]{
  color-scheme: "dark";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(84.153% 0.007 265.754);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(15.07% 0.027 232.661);
  --color-secondary: oklch(68.011% 0.158 276.934);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(71.785% 0.17 13.118);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@font-face {
    font-family: "Nasalisation";
    src: url("../fonts/NasalizationRg.otf");
}

.sj-font{
    font-family: "Nasalisation", monospace;
    cursor: default;
}

.sj-font-big{
    font-size: 4.5rem;
    cursor: default;
}

.sj-nav{
    z-index: 100;
    position: fixed;
    width: 100vw;
    background-color: inherit;
}

.sj-font-big::selection{
    background-color: transparent;
}

.sel-sj::selection{
    background-color: transparent;
}

br::selection{
    background-color: transparent;
}

#lang-en, #lang-si{
    cursor: pointer;
}

.sj-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sj-font-big.si-font{
    font-size: 5rem;
}

.sj-font-big.en-font, .sj-font-big{
    font-size: 4.5rem;
}

.sj-small-font{
    font-size: 3rem;
}


@media (max-width: 1000px) {
    .sj-font-big.si-font{
        font-size: 4.5rem;
    }
    .sj-font-big.en-font{
        font-size: 4rem;
    }
}

@media (max-width: 755px) {
    .sj-font-big.si-font{
        font-size: 4rem;
    }
    .sj-font-big.en-font{
        font-size: 3.5rem;
    }

    .sj-small-font{
        font-size: 2.5rem;
    }
}

@media (max-width: 630px) {
    .sj-font-big.si-font{
        font-size: 3.5rem;
    }
    .sj-font-big.en-font{
        font-size: 3rem;
    }

    .sj-small-font{
        font-size: 2.2rem;
    }
}

@media (max-width: 580px) {
    .sj-font-big.si-font{
        font-size: 3.2rem;
    }
    .sj-font-big.en-font{
        font-size: 2.7rem;
    }

    .sj-small-font{
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .sj-font-big.si-font{
        font-size: 2.9rem;
    }
    .sj-font-big.en-font{
        font-size: 2.4rem;
    }

    .sj-small-font{
        font-size: 1.8rem;
        margin-top: 0;
    }

    .sj-divider{
        line-height: .5rem;
    }
}

@media (max-width: 465px) {
    .sj-font-big.si-font{
        font-size: 2.6rem;
    }
    .sj-font-big.en-font{
        font-size: 2.1rem;
    }

    .sj-small-font{
        font-size: 1.6rem;
        margin-top: 0;
    }

    .sj-divider{
        line-height: .5rem;
    }
}

@media (max-width: 430px) {
    .sj-font-big.si-font{
        font-size: 2.6rem;
    }
    .sj-font-big.en-font{
        font-size: 2.1rem;
    }

    .sj-small-font{
        font-size: 1.5rem;
        margin-top: 0;
    }

    .sj-divider{
        line-height: .5rem;
    }
}

@media (max-width: 410px) {
    .sj-font-big.si-font{
        font-size: 2.4rem;
    }
    .sj-font-big.en-font{
        font-size: 2.1rem;
    }

    .sj-small-font{
        font-size: 1.5rem;
        margin-top: 0;
    }

    .sj-divider{
        line-height: .5rem;
    }
}

@media (max-width: 400px) {
    .sj-font-big.si-font{
        font-size: 2.2rem;
    }
    .sj-font-big.en-font{
        font-size: 1.9rem;
    }

    .sj-small-font{
        font-size: 1.4rem;
        margin-top: 0;
    }

    .sj-divider{
        line-height: .5rem;
    }
}